{% extends 'mailservices/base.html' %}
{% block title %}Каталог{% endblock %}
{% include "mailservices/includes/inc_menu.html" %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h3>Подтверждение удаления</h3>
        <p>Вы действительно хотите удалить Клиента?: <strong>{{ object.mail_title }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'mailservices:message_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>

{% endblock %}